.notifications {
    position: fixed;
    height: 30px;
    width: 100%;
    z-index: 10;
    background-color: #07678e;
    padding: 10px 0;
    color: white;
    transition: all 250ms ease-in-out;
    grid-area: header;
    grid-row-start: header;
    grid-column-start: header;
    grid-row-end: header;
    grid-column-end: header;
}