#header {
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #07678e;
    background-image: linear-gradient(#07678e,#2dbcb4) !important;
    padding: 10px 0;
    color: white;
    transition: all 250ms ease-in-out;
    grid-area: header;
    grid-row-start: header;
    grid-column-start: header;
    grid-row-end: header;
    grid-column-end: header;
}

#basic-nav-dropdown {
    color: white;
    text-align: right;  
}

.photo {
    margin-left: 90px;
    width: 115px;
    height: 35px;
}

.NavBarContent {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
    margin-left: 390px;
    font-size: 16px;
    font-family: sans-serif;
}

.image{
    margin-top: 10px;
    margin-left: 10px;
    width: 15px;
    height: 15px;    
}

